# Project specific
.rwpm
*.exe
*.lock

# Build directories
/bin/
/obj/
/build/

# Libraries
/lib/

# Compiled Object files
*.o
*.ko
*.obj
*.elf

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Compiled Static libraries
*.a
*.la
*.lo
*.lib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb